:root {
  /* Primary */

  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Slate100: hsl(202, 86%, 94%);
  --Slate300: rgb(154, 190, 213);
  --Slate500: hsl(200, 26%, 54%);
  --Slate700: rgb(78, 110, 126);
  --Slate900: hsl(202, 55%, 16%);

  /* Other variables */

  --input-label-gap: 0.6rem;
  --fontsize-labels: 0.9rem;
  --border-radius-inputs: 0.2rem;
  --inputs-height: 2.55rem;
  --border-inputs: 1px solid var(--Slate500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--Slate700);
}

input {
  border: none;
}
/* Now give some styles to the sections divided in 5 div elements
Calculator-container */

.general-container {
  max-width: 375px;
  margin: 0 auto;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.4rem;
}

.mortgage-title {
  color: var(--Slate900);
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.clear {
  background-color: var(--White);
  border-bottom: 1px solid;
  cursor: pointer;
  font-size: 0.9rem;
}

/* section2 Amount-container */

.amount-container {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.mortgage-amount {
  font-size: var(--fontsize-labels);
}

.input-libra-container {
  display: flex;
  border: var(--border-inputs);
  border-radius: var(--border-radius-inputs);

  &:hover {
    border: 2px solid var(--Slate900);
  }
}

.amount {
  width: 100%;
  position: relative;
  outline: none;
  padding-left: 10px;
}

.libra-img-container {
  width: 50px;
  background-color: var(--Slate100);
  display: flex;
  align-items: center;
  justify-content: center;
}

svg .libra-path {
  fill: var(--Slate700);
}

.libra-img {
  width: 0.8rem;
  background-color: var(--Slate100);
}

.equal-inputs {
  height: var(--inputs-height);
}

/* section3 Section-Term */

.section-term {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mortgage-plus-interest {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.input-year-container {
  width: 100%;
  display: flex;
  border: var(--border-inputs);
  border-radius: var(--border-radius-inputs);
  text-align: center;

  &:hover {
    border: 2px solid var(--Slate900);
  }
}

.term {
  width: 100%;
  outline: none;
  padding-left: 10px;
}

.years {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  background-color: var(--Slate100);
}

.years-title {
  width: 100%;
  font-weight: 700;
  color: var(--Slate700);
}

.term,
.interest-rate {
  font-size: var(--fontsize-labels);
}

.interest {
  border: none;
  width: 100%;
  outline: none;
  padding-left: 10px;
}

.input-interest-container {
  display: flex;
  align-items: center;
  border: var(--border-inputs);

  &:hover {
    border: 2px solid var(--Slate900);
  }
}

.percentage-container {
  width: 50px;
  height: var(--inputs-height);
  background-color: var(--Slate100);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section4 Mortgage-Type*/

.mortgage-type {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.container-checks {
  width: 100%;
  max-width: 375px;
  border: var(--border-inputs);
  border-radius: var(--border-radius-inputs);
  padding: 0.6rem;
  position: relative;
}

.mortgage-type-label {
  font-size: var(--fontsize-labels);
}

.inputs-checkbox {
  display: none;
}

.checkboxes {
  color: var(--Slate900);
  font-weight: 700;
  margin-left: 2rem;

  &::before {
    content: "";
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    border: 2px solid var(--Slate700);
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* section5 Style Button */

.results-container {
  align-items: center;
}

.calculate-repayments {
  width: 100%;
  font-size: 1rem;
  background-color: var(--Lime);
  border-radius: 1.5rem;
  padding: 0.7rem 0;
  color: var(--Slate900);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 5px var(--Slate900);
  }
}

.calculator-img {
  width: 1.3rem;
}

/* Second container - Results */

.results-container {
  height: 350px;
  background-color: var(--Slate900);
}

.results {
  width: 85%;
  height: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-container {
  margin-top: 30px;
}

.illustration-img {
  width: 100%;
  max-width: 180px;
}

.show-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.result-title {
  color: var(--White);
}

.result-paragraph {
  color: var(--Slate500);
  text-align: center;
  font-weight: 600;
}
