:root {
  /* Primary */

  --Lime: #d7da2f;
  --Lime-ligth: hsl(61, 70%, 70%, 35%);
  --Red: #d73328;

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Slate100: #e3f3fd;
  --Slate300: rgb(154, 190, 213);
  --Slate500: #6b94a8;
  --Slate700: #4e6e7e;
  --Slate900: #122f3f;
  --Slate1000: hsl(201, 55%, 13%);

  --inputsColorRepayment: white;
  --inputsColorInterest: #333;

  /* Other variables */

  --input-label-gap: 0.6rem;
  --fontsize-labels: 1rem;
  --border-radius-inputs: 0.2rem;
  --inputs-height: 2.55rem;
  --border-inputs: 1px solid var(--Slate500);
  --padding-left-inputs: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--Slate700);
}

input {
  border: none;
}

body {
  background-color: var(--Slate100);
}

path {
  fill: red;
}

.required {
  display: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--Red);
}

.one_field {
  display: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--Red);
}

/* Now give some styles to the sections divided in 5 div elements
Calculator-container */

.general-container {
  max-width: 425px;
  margin: 0 auto;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  gap: 1rem;
  padding: 1.4rem;
}

.mortgage-title {
  color: var(--Slate900);
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

.clear {
  background-color: var(--White);
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}

/* section2 Amount-container */

.amount-container {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.mortgage-amount {
  font-size: var(--fontsize-labels);
}

.input-libra-container {
  display: flex;
  border: var(--border-inputs);
  border-radius: var(--border-radius-inputs);
  cursor: pointer;
}

.amount {
  width: 100%;
  position: relative;
  outline: none;
  padding-left: var(--padding-left-inputs);
}

.libra-img-container {
  width: 50px;
  background-color: var(--Slate100);
  display: flex;
  align-items: center;
  justify-content: center;
}

svg .libra-path {
  fill: var(--Slate700);
}

.libra-img {
  width: 0.8rem;
  background-color: var(--Slate100);
}

.equal-inputs {
  height: var(--inputs-height);
  cursor: pointer;
  font-weight: 700;
  color: var(--Slate900);
  letter-spacing: 0.3px;
  font-size: var(--fontsize-labels);
}

/* section3 Section-Term */

.section-term {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mortgage-plus-interest {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.input-year-container {
  width: 100%;
  display: flex;
  border: var(--border-inputs);
  border-radius: var(--border-radius-inputs);
  text-align: center;
}

.term {
  width: 100%;
  outline: none;
  padding-left: var(--padding-left-inputs);
}

.years {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  background-color: var(--Slate100);
}

.years-title {
  width: 100%;
  font-weight: 700;
  color: var(--Slate700);
}

.term,
.interest-rate {
  font-size: var(--fontsize-labels);
}

.interest {
  border: none;
  width: 100%;
  outline: none;
  padding-left: var(--padding-left-inputs);
}

.input-interest-container {
  display: flex;
  align-items: center;
  border: var(--border-inputs);
}

.percentage-container {
  width: 50px;
  height: var(--inputs-height);
  background-color: var(--Slate100);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section4 Mortgage-Type*/

.mortgage-type {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.container-checks {
  width: 100%;
  max-width: 375px;
  border: var(--border-inputs);
  border-radius: var(--border-radius-inputs);
  padding: 0.6rem;
  position: relative;
  background-color: var(--White);
  transition: all 0.4s ease;
}

.mortgage-type-label {
  font-size: var(--fontsize-labels);
}

.inputs-checkbox {
  display: none;
}

.checkboxes {
  display: inline-block;
  width: 100%;
  color: var(--Slate900);
  font-weight: 700;
  margin-left: 2rem;
  cursor: pointer;
}

.checkbox_interest {
  --before-white-interest: hsl(0, 0%, 100%);
  --outline-interest: #6b94a8;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--before-white-interest);
    border: 3px solid var(--White);
    outline: 1px solid var(--outline-interest);
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
  }
}

.checkbox_repayment {
  --before-white-repayment: #ffffff;
  --outline-repayment: #6b94a8;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--before-white-repayment);
    border: 3px solid var(--White);
    outline: 1px solid var(--outline-repayment);
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
  }
}

/* section5 Style Button */

.results-container {
  overflow: hidden;
  background-color: var(--Slate900);
}

.calculate-repayments {
  width: 100%;
  font-size: 1rem;
  background-color: var(--Lime);
  border-radius: 1.5rem;
  padding: 0.9rem 0;
  color: var(--Slate900);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 1s ease;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: hsl(61, 70%, 70%, 90%);
  }
}

.calculator-img {
  width: 1.3rem;
}

/* Second container - Results */

.your_result_container_all {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--Slate900);
  border: 1px solid var(--Slate900);
}

.results {
  min-width: 100%;
  height: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-container {
  margin-top: 30px;
  margin-bottom: 5px;
}

.illustration-img {
  width: 100%;
  max-width: 180px;
}

.show-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.result-title {
  color: var(--White);
}

.result-paragraph {
  color: var(--Slate500);
  text-align: center;
  font-weight: 600;
}

/* Results over the term */

.your_results {
  min-width: 100%;
  height: 100%;
  margin: 20px auto;
}

.container-title-paragraph {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0.5rem auto;
}

.results_title {
  color: var(--White);
  margin-bottom: 0.8rem;
}

.results_paragraph {
  color: var(--Slate500);
  margin-bottom: 1.4rem;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
}

.container_repayments {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--Slate1000);
  padding: 0.9rem;
  border-top: 4px solid var(--Lime);
  border-radius: 0.4rem;
}

.monthly_repayment {
  border-bottom: 1px solid var(--Slate500);
  padding-bottom: 1rem;
}

.monthly_title {
  color: var(--Slate300);
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.monthly_result {
  font-size: 2rem;
  color: var(--Lime);
  font-weight: 700;
}

.over_term_result {
  font-size: 1.4rem;
  color: var(--White);
  font-weight: 700;
}

.container_over_term {
  padding: 1rem 0 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* Media querys for 768px layout */

@media (min-width: 768px) {
  .general-container {
    max-width: 768px;
  }

  .container {
    display: flex;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: var(--White);
  }

  .container-calculator-results {
    width: 50%;
    border-radius: 1rem;
  }

  .calculator-container {
    padding: 1.4rem 2rem;
  }

  .results-container {
    border-radius: 0rem 1rem 1rem 5rem;
  }

  .your_results {
    margin: 0;
    padding: 0 1rem;
  }

  .container-title-paragraph {
    height: 100%;
    margin: 5rem auto;
    gap: 0.2rem;
  }

  .results_title {
    align-self: center;
  }

  .results {
    margin: 0;
    justify-content: center;
  }

  .figure-container {
    margin-top: 0;
  }
}

/* Media querys for 1024px layout*/

@media (min-width: 1024px) {
  .general-container {
    max-width: 850px;
    height: 530px;
    max-height: max-content;
  }

  .container {
    height: 100%;
  }

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .mortgage-title {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
  }

  .clear {
    font-size: 0.8rem;
  }

  .mortgage-plus-interest {
    width: 50%;
  }

  .mortgage-amount,
  .mortgage-term,
  .interest-rate,
  .mortgage-type-label {
    font-size: 0.9rem;
  }

  .years-title {
    font-size: 0.9rem;
  }

  .section-term {
    flex-direction: row;
  }

  .calculator-container {
    justify-content: space-evenly;
  }

  .calculate_repayments_container {
    width: 80%;
  }

  .container-title-paragraph {
    margin: 2.2rem auto;
    height: max-content;
  }

  .results_title {
    align-self: start;
    font-size: 1.3rem;
  }

  .results_paragraph {
    font-size: 0.8rem;
    margin-bottom: 1.9rem;
  }

  .container_repayments {
    padding: 0.9rem 1.1rem;
  }

  .your_results {
    padding: 0;
  }

  .monthly_repayment {
    padding: 0.9rem 0 2rem;
  }

  .monthly_result {
    font-size: 2.7rem;
  }

  .monthly_title {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .container_over_term {
    padding: 1.9rem 0 1rem;
  }

  .result-paragraph {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .result-title {
    font-size: 1.1rem;
  }

  .figure-container {
    width: 150px;
  }
}
