:root {
  /* Primary */

  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Slate100: hsl(202, 86%, 94%);
  --Slate300: hsl(203, 41%, 72%);
  --Slate500: hsl(200, 26%, 54%);
  --Slate700: hsl(200, 24%, 40%);
  --Slate900: hsl(202, 55%, 16%);

  /* Other variables */

  --input-label-gap: 0.6rem;
  --fontsize-labels: 0.9rem;
  --border-radius-inputs: 0.2rem;
  --inputs-height: 2.55rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--Slate700);
}

/* Now give some styles to the sections divided in 5 div elements 
Calculator-container */

.general-container {
  max-width: 375px;
  margin: 0 auto;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.4rem;
}

.mortgage-title {
  color: var(--Slate900);
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.clear {
  border-bottom: 1px solid;
  cursor: pointer;
  font-size: 0.9rem;
}

/* section2 Amount-container */

.amount-container {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.mortgage-amount {
  font-size: var(--fontsize-labels);
}

.equal-inputs {
  height: var(--inputs-height);
  border-radius: var(--border-radius-inputs);
  border: 1px solid var(--Slate700);
}

/* section3 Section-Term */

.section-term {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mortgage-plus-interest {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.mortgage-term,
.interest-rate {
  font-size: var(--fontsize-labels);
}

/* section4 Mortgage-Type*/

.mortgage-type {
  display: flex;
  flex-direction: column;
  gap: var(--input-label-gap);
}

.container-checks {
  width: 100%;
  max-width: 375px;
  border: 1px solid var(--Slate700);
  border-radius: var(--border-radius-inputs);
  padding: 0.6rem;
  position: relative;
}

.mortgage-type-label {
  font-size: var(--fontsize-labels);
}

.inputs-checkbox {
  display: none;
}

.checkboxes {
  color: var(--Slate900);
  font-weight: 700;
  margin-left: 2rem;
}

.checkboxes::before {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 2px solid var(--Slate700);
  left: 0.8rem;
  top: 12px;
}

/* section5 Style Button */

.results-container {
  align-items: center;
}

.calculate-repayments {
  width: 100%;
  font-size: 1rem;
  background-color: var(--Lime);
  border-radius: 1.5rem;
  padding: 0.7rem 0;
  color: var(--Slate900);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 5px var(--Slate900);
  }
}

.calculator-img {
  width: 1.3rem;
}

/* Second container - Results */

.results-container {
  height: 400px;
  background-color: var(--Slate900);
}

.results {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-container {
  width: 100%;
  display: flex;
  align-items: center;
}
